.cards{
  padding: 0px 70px;
}
.tab{
  display: none;
}
.phone{
  display: none;
}
@media(max-width:768px){
  .tab{
    display: block;
  }
  .desktop{
    display: none;
  }
}
@media(max-width:486px){
  .phone{
    display: block;
  }
  .tab{
    display: none;
  }
}