.trustedby{
    height: 70px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.trustedby img{
    height: 50px;
}
.trustedby .word_container{
    width: 50%;
    display: flex;
    /* justify-content: center; */
    padding: 110px ;
    font-size: 14px;
    color: #ffff;
}
.trustedby .logo_container{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    filter: grayscale(100%);
}
/*Media Queries*/

@media (max-width: 768px) {
    .trustedby .word_container{
        padding: 0px;
        width: 10%;
    }
}
