@import url('https://fonts.googleapis.com/css?family=Outfit:700|Outfit:400');

:root {
  --text: #eaedf8;
  --background: rgb(2, 1, 3);
  --primary: rgba(140, 69, 255, 0.533);
  --secondary: rgb(152, 85, 255);
  --accent: #880f84;

  --gradient: linear-gradient(var(--primary), var(--secondary), var(--accent));

}

@import url('https://fonts.googleapis.com/css?family=Martel%20Sans:700|Martel%20Sans:400');

body {
  font-family: 'roboto', arial, helvetica, sans-serif;
  background: var(--background);
  margin: 0px;
}