@import url('https://fonts.googleapis.com/css?family=Outfit:700|Outfit:400');

:root {
  --text: #ccd7ff;
  --background: #000614;
  --primary: #455287;
  --secondary: #4d0076;
  --accent: #880f84;

  --gradient: linear-gradient(var(--primary), var(--secondary), var(--accent));

}

body {
  font-family: 'Outfit';
  font-weight: 400;
  background: var(--background);
}

h1, h2, h3, h4, h5 {
  font-family: 'Outfit';
  font-weight: 700;
  color: var(--text);
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}