.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 100px 0px 0px;
    padding: 0px 50px;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    backdrop-filter: blur(5px);
}
.statsShapes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.rhombus{
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
}
.rhombus p{
    transform: rotate(-45deg);
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.reviews p{
    font-size: 1rem;
    color: white;
}